@{ 
    ViewBag.Title = "Página Inicial";
}
<h2>Relatório</h2>

<form action="Home/Inserir">
    <button type="submit">Botão 1</button>
</form>
<form action="Gerar">
    <button type="submit">Botão 2</button>
</form>

<div class="text-success">
    @ViewBag.Inserido
</div>